.admin-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top:220px;
    position: relative;

}

#fetch-data-button {
    width: 40%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    
}
/* for zoom in ...........*/
#fetch-data-button:focus {
    outline: none;
}

#fetch-data-button:hover {
    transform: scale(1.1);
} 
/* end here........... */
#add-data-button{
    width: 40%;
    position: relative;

}
#add-data-button:focus {
    outline: none;
}

#add-data-button:hover {
    transform: scale(1.1);
} 

.btn{
    height: 40px;
    margin-left: 300px;
    display: flex;
    padding: 20px;
}
#fetch-data-button,#add-data-button{
    cursor: pointer;
   margin-left: 40px;
   height: 40px;
   /* background: linear-gradient(to right,#81D4FA,#1565C0); */
   background: linear-gradient(to right,#eecda3,#ef629f);
   border: none;
   border-radius: 9px;
   margin-top: 161px;

}
#add-modal {
    width: 18%;
    float:left;
    /* background: linear-gradient(to right,#81D4FA,#1565C0); */
    background: linear-gradient(to right,#eecda3,#ef629f);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    margin-top: 141px;
    /* position: fixed; */
}

#data-table {
    width: 100%;
    /* float:right; */
    margin-left:20px;
}

#add-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

#add-form label {
    width: 100%;
    margin-bottom: 0.5rem;
}

#add-form input {
    width: 100%;
    padding: 0.5rem;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    border: 2px solid rgb(0, 0, 35);
    padding: 8px;
}

#data-table th {
    background-color: #f2f2f2;
}

#data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#data-table tr:hover {
    background-color: #ddd;
}

#data-table th {
    text-align: left;
}

.close{
    cursor: pointer;
}
#delete{
    border: 1px solid red;
    width: 107%;
    height: 34px;
    cursor: pointer;
    background-color: red;
    border: none;
    color: whitesmoke;
    border-radius: 4px;
}
 #delete:focus {
    outline: none;
}

#delete:hover {
    transform: scale(1.1);
    background-color: #D50000;
}