body{
  background-color: #ECEFF1;
}

.maincontainer{
  display: flex;
  width: 90%;
  margin: auto;
  height: 550px;
  margin-top: 180px;
  
  }
.container{
  width: 60%;
  height: 95%;
  margin: 10px;
  overflow: auto;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pricecontainer{
  padding: 20px;
  width: 40%;
  height: 55%;
  margin: 10px;
 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imagediv{
  width: 25%;
  height: 25%;
  margin-right: 30px;
}
img{
  width: 100%;
  height: 100%;
}
.card{
  display: flex;
  margin: 20px 10px;
  padding: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
#cut{
  color: grey;
}
.pink{
  color: palevioletred;
}
.removebtn{
  border: none;
  /* border-radius: 10px; */
  background-color: black;
  color: whitesmoke;
  font-weight:bold;
  padding: 8px;
  margin-top: 60px;

  
}
  .removebtn:focus {
    outline: none;
}

.removebtn:hover {
    transform: scale(1.1);
} 
#green,.green{
  color: green;
}
.name{
  display: flex;
  height: 15%;
  justify-content: space-between;
}
#placeorder{
  padding: 15px;
  display: block;
  margin: auto;
  width: 150px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: black;
  border: none;
  font-weight: bold;

