*{
    background-color:#ffffff ;
}
#login{
    width: 100%;
    
}
#box{
    width:30%;
    margin: auto;
    margin-top: 20px;
    height:110vh;
    border: 1px solid lightgray;
    border-radius: 2px;
}
#part1{
    width:100%;
    height:35vh;
    /* background-color: #f2f5fc; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
   
}
#part1 img{
    /* height: 100%; */
    padding-bottom: 25px;
    /* border: 1px solid ; */
    /* padding-bottom: 20px; */
}
#part1 p{
    font-size: 25px;
    font-weight:100px;
    background-color:#ffffff;
    margin-bottom: 15px;
}
/* part-2 */
#p2{
    width: 80%;
    margin: auto;
    /* border: 1px solid; */
}
#p2 input{
    width:100%;
    height:35px;
    border: 1px solid lightgray;
    border-radius: 7px;
    font-size: normal;
    color: grey;
    font-weight:lighter ;
    /* margin-bottom: 15px; */
}
#p2 h4{
    font-weight: bold;
    color: grey;
    margin-bottom: 10px;
}
#p2 button{
    width: 100%;
    height:37px;
    color: white;
    font-size: normal;
    font-weight: bold;
    margin-top: 25px;
    border: 0px;
    border-radius: 7px;
    background-color: #3070f0 ;
}
#p2 button:hover{
    cursor: pointer;
    background-color: #1952c3;
}
/* part-3 */
#part3{
    width:80%;
    margin: auto;
}
#line{
    display: flex;
    justify-content: space-between;
    color:lightgray;
    font-weight: bold;
}
.or{
    color: darkgray;
}
#p3{
    width:100%;
    height:16vh;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#p3 div{
    width:100%;
    height:28px;
    border: 1px solid lightgray;
    border-radius: 7px;
    font-size: normal;
    color: grey;
    font-weight:lighter ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: larger;
}

#p3 div:hover{
    cursor: pointer;
    /* background-color: lightgray; */
}
.line{
    color: lightgray;
}
#last{
    height:30px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: normal;
    color: #3070f0;
}
#last p:hover,#privacy:hover{
    text-decoration: underline;
}
#privacy{
    text-align: center;
    color: #3070f0;
    font-size: normal;
}

#error{
    /* color: red; */
    text-align: center;
}