body {
    font-family: sans-serif;
    background: linear-gradient(to right,#81D4FA,#1565C0)
   
  }
  #app{
    display: flex;
    justify-content: space-between;
  }
  .india{
    max-width: 550px;
    /* border: 1px dashed; */
    height: 550px;
    max-width: 100%;
    margin-left: 79px;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 12px;
  }
  #ind_logo{
    /* border: 1px solid greenyellow; */
    max-width: 109%;
    height: 698px;
    /* max-width: 100%; */
    margin-left: -67px;
    margin-right: auto;
    margin-bottom: -22px;
    margin-top: -81px;

  }
  
  .container {
    /* border: 1px dashed; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 550px;
    height: 584px;
    margin-left: 79px;
    margin-right: auto;
    margin-top: 70px;
    background-color: beige;
    border-radius: 22px;
    
  }
  .curr_bal{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: robote;
    font-weight: bold;
  }
  .payment_amt{
    /* border: 1px solid red; */
    font-family: robote;
    font-weight: bold;
    font-size: 25px;
  }
  #pay-amt{
    border: 3px solid black;
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
   
  }
  #pay-btn{
    width: 25%;
    border: 3px solid black;
    font-weight: 700;
    border-radius: 8px;
    margin-left: 6px;
    cursor: pointer;
    margin: 31px -1px -79px 159px;
    height: 40px;
    font-size: 14px;
    background:linear-gradient(to right,#81D4FA,#1565C0) ;
    border: none;
    

  }
   
  #pay-btn:focus {
    outline: none;
}

#pay-btn:hover {
    transform: scale(1.1);
    /* color: whitesmoke; */
    background:linear-gradient(to right,#81D4FA,#1565C0) ;
    border: none;
}
  .phone-pe-logo {
    width: 100%;
    border-radius: 22px 22px 0px 0px;
  }
  /* .phone-pe-logo:focus {
    outline: none;
}

.phone-pe-logo:hover {
    transform: scale(1.1);
} */
  
  .main {
    padding: 12px;
  }
  
  .feedback-wrapper {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
  }
  #feedback-text{
    /* border: 1px solid red; */
    font-size: 30px;
    font-family: robote;
  }
  
  .feedback-img {
    width: 100%;
  }
  .btn {
    font-size: 16px;
    width: 173px;
    height: 50px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 0px;
    margin:-44px 2px -98px 170px;
    color: #fff;
    background: #BA68C8;
    border-radius: 4px;
  }
  
  .btn:focus {
    outline: none;
}

.btn:hover {
    transform: scale(1.1);
}